/* ======================================= */
/* ============= Header ================== */
/* ======================================= */

/* set padding of jumbotron */
.jumbotron{
    padding: 0rem;
    background-color:#0e0ea5;
    color: blanchedalmond;
}

/* set the top padding of link "entry" */
#entryLink{
    padding-top: 60px;
}

/* set the height of text lines inside jumbotron */
#headerText{
    line-height: 1.0;
}

a{
    color: rgb(154, 175, 31);
}

a:hover{
    color:burlywood;
}

/* define css for active/pressed nav-item */
.active {
    background-color: grey;
  }


  .dropdown:hover>.dropdown-menu {
    display: block;
  }

  /* css for logo */
  #img{
    width:auto;
    height:100px;
    
  }

/* ======================================= */
/* ============= Bottom Area ================== */
/* ======================================= */

.bottomArea{
    background-color:#0e0ea5;
    color:blanchedalmond;
    font-size: .8rem;
    }
    
/* ===================================================================== */
    
      
  

   